.footer {
  background: #f7f7f7;
  color: #1e1e1e;
  text-align: left;
  padding: 6em 4em;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer img.icon {
  width: 32px;
  margin-top: 0;
}
