<mat-toolbar [class.navBg] = "navBgIsVisible" >
  <button mat-button [class.navActive] = "navHomeIsActive" class="animated slideInLeft" scrollTo="home">Home</button>
  <button mat-button [class.navActive] = "navWorkIsActive" class="animated slideInLeft" scrollTo="work" offset="106">Work</button>
  <button mat-button [class.navActive] = "navAboutIsActive" class="animated slideInLeft" scrollTo="about" offset="100">About</button>
  <button mat-button [class.navActive] = "navContactIsActive" class="animated slideInLeft" scrollTo="contact" offset="98">Contact</button>
</mat-toolbar>

<div class="intro">
  <div class="intro-over  animated fadeIn">
    <div class="intro-title animated fadeInUp">
      <h1>André Glegg</h1>
      <h2>Designer & Developer</h2>
    </div>
    <button mat-button class="btn-view-work animated tada" scrollTo="work" offset="100">View My Work</button>
  </div>

</div>

<div class="work">
  <div class="work-title">
    <h2 id="work" >Work</h2>
    <h3>My latest work</h3>
    <div style="text-align:center">

    </div>
    <span id="filter-categories">
    	<!-- <span class="filter-text">Filter:</span> -->
      <div class="filter-align">
        <input class="hidden radio-label" type="radio" name="filter" id="filter-all" checked />
        <label class="filter-button-label" for="filter-all">
        <h1>All</h1>
        </label>
      </div>
      <input class="hidden radio-label" type="radio" name="filter" id="app" />
      <label class="filter-button-label" for="app">
      <h1>App</h1>
      </label>

      <input class="hidden radio-label" type="radio" name="filter" id="web" />
      <label class="filter-button-label" for="web">
      <h1>Web</h1>
      </label>

    </span>
    <span style="display:block; clear:both;"> </span>
    <div class="filter-wrap">
    	<div class="filter-item pf-item {{ portfolioItem.type }}" *ngFor="let portfolioItem of portfolioItems; let i = 'index'">
        <div class="filter-item-wrap" (click)="openDialog({name: portfolioItem.name, tags: portfolioItem.tags, image: portfolioItem.image, link: portfolioItem.link, desc: portfolioItem.desc})">
        <div class="filter-item-hover animated slideInUp" >

          <div class="hover-content">
            <mat-icon class="launch-icon">
              aspect_ratio
            </mat-icon>
          </div>

        </div>
        <img src="{{ portfolioItem.thumb }}">
        </div>

        <div class="filter-item-info">
          <h4>{{ portfolioItem.name }}</h4>
          <p>{{ portfolioItem.tags }}</p>
        </div>
      </div>

    	<div id="filter-mask"></div> <!-- mask is last -->
    </div>




  </div>
</div>

<app-about></app-about>

<app-contact></app-contact>

<app-footer></app-footer>
