.closeButton {
  font-size: 6em;
  cursor: pointer;
  height: auto;
  width: auto;
  display: block;
  float: right;

}

.mat-dialog-actions {
  display: block;
}

.mat-dialog-content {
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
}

.mat-dialog-content img.mainImg{
  max-width: 100%;

}


.mat-dialog-content .mat-dialog-title {
  font-size: 4em;
  margin-top: 1.5em;
  padding: .7em;

}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#f5a623;
	font-size:1.5em;
  transition:0.5s all ease;

}
a:hover{
	color:#1e1e1e;
  font-weight: bold;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#f5a623;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

h3 {

}

.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:0.3em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:1em;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}

.tags {
  color: #f5a623;
  font-weight: bold;
}
